<div id="<%= dom_id answer %>">
  <p>
    <strong>Title:</strong>
    <%= answer.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= answer.description %>
  </p>

  <p>
    <strong>Upvotes:</strong>
    <%= answer.upvotes %>
  </p>

</div>
